/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Import the App.css for global styles */
@import './App.css';
body{
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}
/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Ensure buttons have no default outline */
button:focus {
  outline: none;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Box-sizing for all elements */
*, *::before, *::after {
  box-sizing: inherit;
}
